:root {
    font-size: 10px;
}

* {
    font-family: Roboto;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

main {
    color: #fffcfa;
    background-color:#18182b;
    font-size: 1.8rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#buttons-div {
    padding: 2rem 0;
    width: 50%;
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    gap: 1rem;
}

#results {
    border-radius: 1rem;
    padding: 2rem;
    background-color: #0b0b14;
    height: 30%;
    min-width: 300px;
    min-height: 500px;
    overflow: scroll;
}

button {
    border-radius: 0.75rem;
    border: transparent;
    flex: 2 0 0;
    padding: 0.2rem 0.2rem;
    font-size: 2rem;
}

.result {
    padding: 0.75rem 0;
}

.lose {
    color: red;
}

.win {
    color: green;
}
